# Core
pip
python-dotenv
ruff

# Data Science & ML
numpy
pandas
scikit-learn
xgboost
matplotlib
seaborn

# Streamlit
streamlit

#
pdfplumber

# Jupyter
jupyter
ipykernel

# Data Download
kagglehub

# Development
#pytest

# Install package in editable mode
-e .
