# Core
pip
python-dotenv
ruff

# Data Science & ML
numpy
pandas
scikit-learn
xgboost
matplotlib
seaborn
joblib
shap

# Web App
streamlit

# PDF Processing
pdfplumber

# Jupyter
jupyter
ipykernel

# Data Download - ML Croissant para datasets do Kaggle
mlcroissant

# Development
#pytest

# Install package in editable mode
-e .
