# Core
pip
python-dotenv
ruff

# Data Science & ML
numpy
pandas
scikit-learn
xgboost-cpu
matplotlib
seaborn

# Streamlit
streamlit

# Jupyter
jupyter
ipykernel

# Data Download
kagglehub

# Development
#pytest

# Install package in editable mode
-e .
